<%- include('partials/header') -%>

<div class="box">
    <div class="movie w3-animate-opacity">
        <div class="upper-div">
        <img class="movie-poster " src="<%= myMovie.posterURL %>" onerror="this.onerror=null; this.src='/images/default.png'">

        <div class="movie-overview">
        <h1><%= myMovie.title %></h1>
        <p><%= myMovie.overview %></p>
        </div>
        <div class="movie-info">
        <h3>Ratings: <%= myMovie.ratings %></h3>
        <h3>Runtime: <%= myMovie.runtime %> Minutes</h3>
        <h3>Revenue: $ <%= myMovie.revenue %></h3>
        <h3>Status: <%= myMovie.status %></h3>
        <h3>Release Date: <%= myMovie.release_date %></h3>
        </div>
        </div>

        <div class="lower-div-left">
            <h2>More Info</h2>
            <h3>Genre: <% for(let i=0;i<myMovie.genre.length-1;i++){ %>
                <%= myMovie.genre[i] %>, 
            <% } %> <%= myMovie.genre[myMovie.genre.length-1] %>
            </h3>

            <h3>Production House(s): <% for(let i=0;i<myMovie.compinies.length-1;i++){ %>
                <%= myMovie.compinies[i] %>, 
            <% } %> <%= myMovie.compinies[myMovie.compinies.length-1] %>
            </h3>

            <h3>Language(s): <% for(let i=0;i<myMovie.languages.length-1;i++){ %>
                <%= myMovie.languages[i] %>, 
            <% } %> <%= myMovie.languages[myMovie.languages.length-1] %>
            </h3>
            <h3>Country: <%= myMovie.country %></h3>
        </div>

        <div class ="lower-div-right">
            <h2>Similar Movies</h2>
            <div class="cast-scroll">
            <div class="movie-suggestion">
            <% for(let i=0; i < myMovie.similarMoviesArray.length; i++){ %>
            <div class="movie-suggestion-item" onclick="location.href='/movie/details/<%=myMovie.similarMoviesArray[i].id %>' " style="cursor:pointer;">
            <img class="movie-poster " src="<%=myMovie.similarMoviesArray[i].posterURL %>" onerror="this.onerror=null; this.src='/images/default.png'">
            <h3><%=myMovie.similarMoviesArray[i].title%> </h3>
            </div>
             <% } %>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/cast') -%>
<%- include('partials/footer') -%>