<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
<%- include('components/alerts') -%>

<div class="index-section">
<%- include('components/account') -%>
<%- include('components/transactions') -%>
</div>

<%- include('partials/footer') -%>