<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
<%- include('components/alerts') -%>

<div class="create">
    <form action="/create" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required autocomplete="off">
          <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="pin" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Branch</label>
          <select name="branch" class="form-control" id="exampleFormControlSelect1">
            <% for(let i=0;i<branches.length;i++) { %>
                <option><%= branches[i].branch %></option>
              <% } %>
          </select>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1">Terms and Conditions</label>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
</div>


<%- include('partials/footer') -%>