<%  layout("layouts/boilerplate") %> 
    <div class="row">
        <h1 class="text-center">Edit product</h1>
            <div class="col-6 offset-3">
                <form action="/products/<%= product._id %>?_method=put" method="post" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="product[title]" value="<%= product.title %>" required>
                    </div>
                    

                    
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="Username" required  aria-describedby="price-label" name="product[price]" value="<%= product.price %>">
                        </div>
                    </div>
                        <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="product[description]"required  ><%= product.description %></textarea>
                    </div>


                    <div class="mb-3">
                        <% product.images.forEach(function(image, i){ %>
                            <img src="<%=image.thumbnail%>" class="img-thumbnail" alt="" srcset="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= image.filename %> ">
                            </div>
                            <label for="image-<%=i%>">Delete?</label>
                         <% }) %> 
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Update</button>
                    </div>
                </form>
                <a href="/products/<%= product._id %> ">Cancel Editing? back to ground?</a>

            </div>
    </div>